<ion-content>
  <body>
  <!-- Rectángulo con vectores -->
  <div class="nav-bar">
    <div class="nav-bar__item"></div>
    </div>
    <div class="ion-padding-top nav-bar__text">
      <div class="nav-bar__list">
        <ion-fab vertical="top" horizontal="start" edge slot="fixed" mode="ios">
          <ion-fab-button closeIcon="close"><img src="../../../assets/images/perfil.png" width="100%"></ion-fab-button>
          <ion-fab-list>
            <ion-fab-button (click)="navigationService.goCenter()"><img src="../../../assets/images/center.png" width="100%"></ion-fab-button>
            <ion-fab-button (click)="navigationService.goHome()"><img src="../../../assets/images/disconnect.png" width="100%"></ion-fab-button>
          </ion-fab-list>
        </ion-fab>
      </div>
      <h2>Profile</h2>
    </div>
  <!-- Contenido -->
  <div class="container">
    <div class="container__item-up">
      <div class="ion-text-center ion-padding-end">
        <h1>7</h1>
        <p class="disabled">Shopping centers visited</p>
      </div>
      <div class="ion-text-center ion-padding-start">
        <h1>4</h1>
        <p class="disabled">Reviews</p>
      </div>
    </div>
    <div class="container__item-down">
      <div class="item-down__inline">
        <div class="caja-chica">
          <h5 class="letra ion-text-center">Name</h5>
        </div>
        <p>Noel Millán Rebollo</p>
      </div>
      <div class="item-down__inline">
        <div class="caja-chica">
          <h5 class="letra ion-text-center">Email</h5>
        </div>
        <p class="letra-email">noel.millan@hotmail.com</p>
      </div>
      <div class="item-down__inline">
        <div class="caja-chica">
          <h5 class="letra ion-text-center">Password</h5>
        </div>
        <span><p>**************<br><div (click)="navigationService.goReset()">Change your password</div></p></span>
      </div>
    </div>
  </div>
  <!-- Rectángulo con vectores -->
  <div class="footer__item"><img src="../../../assets/svg/barra-footer.svg"></div>
  <div class="container-gap">
    <div class="container-footer">
      <div class="container-footer-gap">
        <div class="container-footer__item">
          <ion-icon name="man"></ion-icon>
        </div>
        <span>Male</span>
      </div>
      <div class="container-footer-gap">
        <div class="container-footer__item segundo">
          <ion-icon name="calendar-outline"></ion-icon>
        </div>
        <span>10/07/21</span>
      </div>
      <div class="container-footer-gap">
        <div class="container-footer__item">
          <ion-icon name="call"></ion-icon>
        </div>
        <span>722651529</span>
      </div>
    </div>
  </div>
  </body>
</ion-content>
