body{
    background: #ECE9E6;
    color: black;
}
.nav-bar{
    position: absolute;
    z-index: -1;
    width: 100%;
}
.footer{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 120px;
    bottom: 0;
}
.nav-bar__text{
    display: flex;
    justify-content: center;
    color: white;
}
.nav-bar__list{
    position: fixed;
    left: 0;
    z-index: 2;
}
.nav-bar__icon{
    margin-left: 8px;
    left: 0;
    width: 40%;
    cursor: pointer;
}
.container{
    width: 80%;
    height: auto;
    margin: 20% auto;
}
.container__item-up{
    display: flex;
    justify-content: space-around;
}
.container__item-up p{
    font-size: 14px;
    color: #969696bd
}
.caja-chica{
    padding: .5rem;
    max-width: 140px;
    min-width: 140px;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
.caja-chica.last-item{
    max-width: 170px;
    min-width: 170px;
}
ion-item{
    --background: transparent;
    --color: rgb(255, 138, 230);
    --border-color: rgba(255, 0, 200, 0.89);
    --padding-start: 0px;
  }
.letra{
    margin: 0;
    color: #FF440A;
}
.container__item-down{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.item-down__inline:nth-child(2){
    margin-top: 20px;
}
.item-down__inline:nth-child(3){
    margin-top: 20px;
}
.item-down__inline p{
    padding-left: 15px;
    padding-top: 10px;
    font-size: 14px;
    font-weight: 600;
}
.letra-email{
    word-break: break-all;
}
.item-down__inline > span > p > div{
    font-size: 10px;
    color: #969696bd;
    cursor: pointer;
}
.nav-bar__item{
    width: 100%;
    height: 100vh;
    background: no-repeat;
    background-image: url('../../../assets/svg/barra.svg');
}
.footer__item{
    position: absolute;
    bottom: -5px;
    width: 100%;
    z-index: -1;
}
.container-footer{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.container-gap{
    position: absolute;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 90px;
    bottom: 0;
}
.container-footer div:nth-child(2){
    align-self: flex-end;
}
.container-footer div:nth-child(3){
    align-self: center;
}
.container-footer__item{
    background-color: white;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    padding: 3px;
}
.container-footer-gap{
    display: inline-flex;
}
.container-footer-gap:nth-child(1){
    margin-top: 16px;
    margin-left: 15px;
}
.container-footer-gap:nth-child(2){
    margin-bottom: 12px;
}
.container-footer-gap:nth-child(3){
    margin-bottom: 13px;
}
.container-footer__item ion-icon{
    display: initial;
    color: #FF440A;
}
.container-footer-gap span{
    color: white;
    font-size: 12px;
    margin: 4px;
}
.caja-media{
    margin: 25px auto 20px auto;
    padding: .5rem;
    width: 175px;
    background: #F43379;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
.caja-media > .letra{
    color: white;
}