<ion-content>
  <body>
  <!-- Rectángulo con vectores -->
  <div class="nav-bar">
    <div class="nav-bar__item"></div>
  </div>
  <div class="ion-padding-top nav-bar__text">
    <h2>Perfil</h2>
    <div class="nav-bar__icon"><img src="../../../assets/images/perfil.png" width="40%"></div>
  </div>
  <!-- Contenido -->
  <div class="container">
    <div class="container__item-down">
      <div class="item-down__inline">
        <div class="caja-chica">
          <h5 class="letra ion-text-center">Old Password</h5>
        </div>
        <ion-item mode="ios">
          <ion-input type="Password"></ion-input>
        </ion-item>
      </div>
      <div class="item-down__inline">
        <div class="caja-chica">
          <h5 class="letra ion-text-center">New Password</h5>
        </div>
        <ion-item mode="ios">
          <ion-input type="Password"></ion-input>
        </ion-item>
      </div>
      <div class="item-down__inline">
        <div class="caja-chica">
          <h5 class="letra ion-text-center">Repeat Password</h5>
        </div>
        <ion-item mode="ios">
          <ion-input type="Password"></ion-input>
        </ion-item>
      </div>
    </div>
  </div>
  <!-- Rectángulo con vectores -->
  <div class="footer__item"><img src="../../../assets/svg/barra-footer.svg"></div>
  </body>
</ion-content>
