<ion-content>
  <body>
      <!-- Rectángulo con vectores -->
  <div class="nav-bar">
    <div class="nav-bar__item"></div>
    </div>
  <div class="ion-padding-top nav-bar__text">
    <div class="nav-bar__list">
      <ion-fab vertical="top" horizontal="start" edge slot="fixed" mode="ios">
        <ion-fab-button closeIcon="close">
          <img src="../../../assets/images/center.png" width="100%">
        </ion-fab-button>
        <ion-fab-list>
          <ion-fab-button (click)="navigationService.goProfile()">
            <img src="../../../assets/images/perfil.png" width="100%">
          </ion-fab-button>
          <ion-fab-button (click)="navigationService.goHome()">
            <img src="../../../assets/images/disconnect.png" width="100%">
          </ion-fab-button>
        </ion-fab-list>
      </ion-fab>
    </div>
    <h2>Centers</h2>
  </div>
  <!-- Contenido -->
  <div class="container">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
          <ion-segment scrollable="true" mode="md">
            <ion-segment-button value="lol">
              <ion-lable>lol</ion-lable>
            </ion-segment-button>
            <ion-segment-button value="lol2">
              <ion-lable>lol2</ion-lable>
            </ion-segment-button>
            <ion-segment-button value="lol3">
              <ion-lable>lol3</ion-lable>
            </ion-segment-button>
            <ion-segment-button value="lol4">
              <ion-lable>lol4</ion-lable>
            </ion-segment-button>
            <ion-segment-button value="lol5">
              <ion-lable>lol5</ion-lable>
            </ion-segment-button>
            <ion-segment-button value="lol6">
              <ion-lable>lol6</ion-lable>
            </ion-segment-button>
            <ion-segment-button value="lol7">
              <ion-lable>lol7</ion-lable>
            </ion-segment-button>
          </ion-segment>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-slides [options]="option" class="ion-margin-top">
      <ion-slide>
        <ion-card mode="ios">
          <img src="../../../assets/images/rosaleda.jpg">
          <p>Centro Comercial Rosaleda</p>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card mode="ios">
          <img src="../../../assets/images/larios.jpg">
          <p>Larios Centro</p>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card mode="ios">
          <img src="../../../assets/images/mariazam.jpg">
          <p>María Zambrano</p>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card mode="ios">
          <img src="../../../assets/images/malagaplaza.jpg">
          <p>Málaga Plaza</p>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>
    <!-- Rectángulo con vectores -->
    <div class="footer__item"><img src="../../../assets/svg/barra-footer.svg"></div>
    <div class="container-gap">
      <div class="container-footer">
        <div class="container-footer-gap">
          <div class="container-footer__item">
            <ion-icon name="man"></ion-icon>
          </div>
          <span>Male</span>
        </div>
        <div class="container-footer-gap">
          <div class="container-footer__item segundo">
            <ion-icon name="calendar-outline"></ion-icon>
          </div>
          <span>10/07/21</span>
        </div>
        <div class="container-footer-gap">
          <div class="container-footer__item">
            <ion-icon name="call"></ion-icon>
          </div>
          <span>722651529</span>
        </div>
      </div>
    </div>
  </body>
</ion-content>
