<ion-content>
  <body>
      <!-- Rectángulo con vectores -->
  <div [@inOutAnimation] *ngIf="!centerPressed" class="nav-bar">
    <div class="nav-bar__item"></div>
    </div>
  <div class="ion-padding-top nav-bar__text">
    <div [@inOutAnimation] *ngIf="!centerPressed" class="nav-bar__list">
      <ion-fab vertical="top" horizontal="start" edge slot="fixed" mode="ios">
        <ion-fab-button closeIcon="close">
          <img src="../../../assets/images/center.png" width="100%">
        </ion-fab-button>
        <ion-fab-list>
          <ion-fab-button (click)="navigationService.goProfile()">
            <img src="../../../assets/images/perfil.png" width="100%">
          </ion-fab-button>
          <ion-fab-button (click)="navigationService.goHome()">
            <img src="../../../assets/images/disconnect.png" width="100%">
          </ion-fab-button>
        </ion-fab-list>
      </ion-fab>
    </div>
    <h2>Centers</h2>
  </div>
  <!-- Contenido -->
  <div class="caja-mediana ion-text-center">
    <div class="caja-mediana__item">
      <label>
        <input type="checkbox" [(ngModel)]="centerPressed">
        <div class="menu">{{locationPressed}}</div>
      </label>
    </div>
  </div>
  <div [@inOutAnimation] *ngIf="centerPressed" class="caja-mediana__secondary ion-text-center">
    <ion-segment scrollable mode="md">
      <ng-container *ngFor="let l of locations">
      <ion-segment-button (click)="locationPressed = l.name; locationChanged()">
        <div class="caja-mediana__item-secondary">
          <span>{{l.name}}</span>
          <div></div>
        </div>
      </ion-segment-button>
      </ng-container>
    </ion-segment>
  </div>
  <div *ngIf="!centerPressed" [@inOutAnimation] class="container">
    <ion-slides [options]="option" class="ion-margin-top">
      <ion-slide *ngFor="let c of centers">
        <ion-card mode="ios" (click)="navigationService.goInteractiveMaps(); locationsService.getCenter(c)">
          <img src="{{c.img}}">
          <p>{{c.name}}</p>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>
    <!-- Rectángulo con vectores -->
    <div class="footer__item"><img src="../../../assets/svg/barra-footer.svg"></div>
    <div class="container-gap">
      <div class="container-footer">
        <div class="container-footer-gap">
          <div class="container-footer__item">
            <ion-icon name="man"></ion-icon>
          </div>
          <span>Male</span>
        </div>
        <div class="container-footer-gap">
          <div class="container-footer__item segundo">
            <ion-icon name="calendar-outline"></ion-icon>
          </div>
          <span>10/07/21</span>
        </div>
        <div class="container-footer-gap">
          <div class="container-footer__item">
            <ion-icon name="call"></ion-icon>
          </div>
          <span>722651529</span>
        </div>
      </div>
    </div>
  </body>
</ion-content>
