<ion-content>
  <body>
    <div class="container">
      <form [formGroup]="registrationForm" (ngSubmit)="submit()">
      <div class="caja-grande ion-text-center">
        <h1 class="letra">Register</h1>
      </div>
      <div class="container__item">
        <ion-item mode="ios">
          <ion-label position="stacked">First Name</ion-label>
          <ion-input formControlName="firstName" [(ngModel)]="user.firstName"></ion-input>
        </ion-item>
        <ion-item mode="ios">
          <ion-label position="stacked">Last Name</ion-label>
          <ion-input formControlName="lastName" [(ngModel)]="user.lastName"></ion-input>
        </ion-item>
      </div>
      <ion-item mode="ios">
        <ion-label position="stacked">Email</ion-label>
        <ion-input formControlName="email" [(ngModel)]="user.email"></ion-input>
      </ion-item>
      <ion-item mode="ios">
        <ion-label position="stacked">Password</ion-label>
        <!-- <span class="password"><i>* It must be at least 5 characters in length</i></span> -->
        <ion-input formControlName="password" type="password" [(ngModel)]="user.password"></ion-input>
      </ion-item>
      <ion-item mode="md" class="ion-padding-start">
        <ion-checkbox color="dark"></ion-checkbox>
        <span class="ion-padding-start letra-chica">I accept the <strong><a class="letra-register"><i>terms of use</i></a></strong></span>
      </ion-item>
      <div class="ion-text-center">
        <button [disabled]="!registrationForm.valid" type="submit" class="caja-chica ion-text-center" (click)="registerUser(); navigationService.goHome()">
          <h5 class="letra">Sign Up</h5>
        </button>
        <br>
        <span class="letra-chica">
          Already registered?&nbsp;<strong><a class="letra-register" (click)="navigationService.goHome()"><i>Log in now!</i></a></strong>
        </span>
      </div>
      </form>
    </div>
  </body>
</ion-content>