body{
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #C84E89 0%, #F15F79 100%);
}
.container{
    width: 75%;
    margin: auto;
}
.caja-grande{
    margin: 60px auto 20px auto;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: 150px;
    padding: .75rem;
}
.caja-chica{
    margin: 30px auto 20px auto;
    padding: .5rem;
    width: 120px;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
.caja-chica:disabled{
    border: 1px solid #999999;
    background-color: #cccccc;
    .letra{
        color: #666666;
    }
}
ion-item ion-label:nth-child(1){
    margin-left: 8px;
}
.letra{
    margin: 0;
    color: #FF440A;
}
.letra-chica{
    font-size: 14px;
}
.password{
    font-size: 13px;
    color: rgb(209, 209, 209);
}
ion-item{
--background: transparent;
    --color: white;
    --border-color: white;
    --padding-start: 0px;
    --padding-top: 20px;
}
ion-item ion-checkbox{
    --background: white;
}
ion-item:nth-child(5){
    --inner-border-width: 0px;
}
.container-sub{
    display: flex;
}
.letra-register{
    color: black;
}
.letra-recover{
    color: white;
}
a{
    text-decoration: none;
    cursor: pointer;
}
.container__item{
    display: flex;
}
.container__item ion-item:first-child{
    margin-right: 2rem;
}