<ion-content>
  <body>
    <div class="container">
      <div class="caja-grande ion-text-center">
        <h1 class="letra">Log In</h1>
      </div>
      <ion-item mode="ios">
        <ion-label position="stacked">Email</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item mode="ios">
        <ion-label position="stacked">Password</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <div class="ion-text-center">
        <button class="caja-chica ion-text-center" (click)="navigationService.goProfile()">
          <h5 class="letra">Let me in.</h5>
        </button>
      </div>
      <div class="container-sub ion-padding-top">
        <span class="letra-chica">
          Not registered?<br><strong><a class="letra-register" (click)="navigationService.goRegister()"><i>Create an account</i></a></strong>
        </span>
        <span class="letra-chica ion-text-end">
          <a class="letra-recover" (click)="navigationService.goRecover()">Forgot your password?</a>
        </span>
      </div>
    </div>
  </body>
</ion-content>