<ion-content>
  <body>
    <div class="container">
      <div class="caja-grande ion-text-center">
        <h1 class="letra">Log In</h1>
      </div>
      <ion-item mode="ios">
        <ion-label position="stacked">Email</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item mode="ios">
        <ion-label position="stacked">Password</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <div class="ion-text-center">
        <button class="caja-chica ion-text-center">
          <h6 class="letra">Let me in.</h6>
        </button>
      </div>
      <div class="lol">
        <span class="letra-chica">
          <p>Not registered yet?<br><div class="sub-letra"><strong>Create an account</strong></div></p>
        </span>
        <span class="letra-chica">
          <p>Forgot your password?</p>
        </span>
      </div>
    </div>
  </body>
</ion-content>